<?xml version="1.0"?>
<!--
/**
 * Created by Qoliber
 *
 * @author      qoliber <info@qoliber.com>
 */
 -->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add id="Qoliber_Core::menu"
             title="Qoliber"
             translate="title"
             module="Qoliber_Core"
             sortOrder="60"
             resource="Qoliber_Core::menu"
        />
        <add id="Qoliber_Core::manage"
             title="Manage"
             module="Qoliber_Core"
             sortOrder="10"
             resource="Qoliber_Core::menu"
             parent="Qoliber_Core::menu" />

        <add id="Qoliber_Core::configuration"
             title="Configuration"
             module="Qoliber_Core"
             sortOrder="100"
             resource="Qoliber_Core::menu"
             parent="Qoliber_Core::menu" />
    </menu>
</config>
