<?xml version="1.0"?>
<!--
/**
 * Created by Qoliber
 *
 * @author      Lukasz Owczarczuk <lowczarczuk@qoliber.com>
 */
 -->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="qoliber" translate="label" sortOrder="950" class="qoliber-tab">
            <label>Qoliber</label>
        </tab>
    </system>
</config>
